---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80

BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
FixNamespaceComments: true
...
